* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.home-container {
  height: 100vh;
  padding: 15rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sign-btn-wrapper {
  padding: 0 1rem;
  gap: 0.5rem;
}

.login-btn {
  background-color: #3778c2;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
}

#loginBtn {
  color: rgb(240, 232, 232);
}

.signup-btn {
  background-color: transparent;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
}

#signupBtn {
  color: rgb(158, 155, 155);
}
